.dashboard-content {
    background-color: var(--secondary--primrose);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex: 1; /* Take up the remaining vertical space */
  }
  