.weather {
    background-color: var(--secondary--racing-green);
    text-align: center;
    padding: 0px 10px;
    height: 100px;
  }
  
  .weather-label {
    font-weight: bold;
    color: var(--accent--fern-green);
  }
  
  .weather-table {
    width: 50%;
    margin: 0 auto;
  }
  
  .weather-table td {
    padding: 10px 5px;
    color: var(--secondary--golden-sand);
  }
  
  .weather-table .day {
    font-weight: bold;
    font-size: 10px;
  }
  
  .weather-table i {
    color: var(--white);
    font-size: 10px;
  }
  
  .weather-table .temp {
    font-weight: bold;
    color: var(--secondary--golden-sand);
    font-size: 10px;
  }
  
  .weather-table td:not(:last-child) {
    padding-right: 5px;
  }
  
  