.navigation {
  display: flex;
  justify-content: center;
  background-color: var(--secondary--racing-green);
  padding: 10px;
}

.dashboard-nav {
  display: flex;
  gap: 10px;
}

.dashboard-button {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--primary);
  border: none;
  transition: background-color 0.3s;
}

.dashboard-button:hover,
.dashboard-button.active {
  background-color: var(--primary);
  color: white;
}
