.password-reset-container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .password-reset-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary--racing-green);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    opacity: 0.8;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .logo {
    width: 200px;
    margin-bottom: 5px;
  }
  
  h1 {
    text-align: left;
    color: var(--secondary--primrose);
    font-weight: bold;
  }
  
  .input-field {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: var(--primary);
    padding-left: 10px;
    border-radius: 5px;
  }
  
  .input-field i {
    color: var(--black);
    margin-right: 10px;
  }
  
  .input-email,
  .input-password {
    width: 100%;
    padding: 10px;
    padding-left: 35px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
  }
  
  .input-email:focus,
  .input-password:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 2px var(--primary);
  }
  
  
  
  .error-message {
    text-align: center;
    margin-bottom: 10px;
    color: red;
  }
  
  .reset-button {
    background-color: var(--primary);
    color: var(--black);
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .reset-button:hover {
    background-color: var(--secondary--golden-sand);
  }
  
  .login-link {
    color: var(--secondary--primrose);
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
  }
  